#!/bin/sh

cd /path/to/your/scripts

# snapshots
./backup_zfs_snapshot.sh src_pool

#[optional] bring dest pool online before backup
./backup_zfs_import.sh <dest_pool>

# backups
./backup_zfs_launch.sh <src_fs> <dest_pool>

# cleanup
sleep 300
./backup_zfs_cleanup.sh <src_zfs> <dest_pool>

#[optional] bring dest pool offline after backup
./backup_zfs_export.sh <dest_pool>